{{>common/header}}


<h1>SongPage</h1>



<div class="col-md-12">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Modified</th>
            <th scope="col">수정</th>
        </tr>
        </thead>
        <tbody>
        {{#posts}}
            <tr>
                <td>{{id}}</td>
                <td>{{title}}</td>
                <td>{{lastModifiedAt}}</td>
                <td><a href="/posts/update/{{id}}" class="btn btn-primary">수정</a></td>
            </tr>
        {{/posts}}
        </tbody>
    </table>
</div>

<a href="/posts/save">등록</a>


{{>common/footer}}